{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header class="header--form-page">
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Oddaj rzeczy, których już nie chcesz<br/>
                    <span class="uppercase">potrzebującym</span>
                </h1>

                <div class="slogan--steps">
                    <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                    <ul class="slogan--steps-boxes">
                        <li>
                            <div><em>1</em><span>Wybierz rzeczy</span></div>
                        </li>
                        <li>
                            <div><em>2</em><span>Spakuj je w worki</span></div>
                        </li>
                        <li>
                            <div><em>3</em><span>Wybierz fundację</span></div>
                        </li>
                        <li>
                            <div><em>4</em><span>Zamów kuriera</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <section class="form--steps">
            <div class="form--steps-instructions">
                <div class="form--steps-container">
                    <h3>Ważne!</h3>
                    <p data-step="1" class="active">
                        Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                        wiedzieć komu najlepiej je przekazać.
                    </p>
                    <p data-step="2">
                        Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                        wiedzieć komu najlepiej je przekazać.
                    </p>
                    <p data-step="3">
                        Wybierz jedną, do
                        której trafi Twoja przesyłka.
                    </p>
                    <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
                </div>
            </div>

            <div class="form--steps-container">
                <div class="form--steps-counter">Krok <span>1</span>/5</div>

                <form id="donation-form" class="my-ajax-form" method="post"
                      data-url="{{ request.build_absolute_uri|safe }}">
                    {% csrf_token %}
                    <!-- STEP 1: class .active is switching steps -->
                    <div data-step="1" class="active" name="step_1" value="1">
                        <h3>Zaznacz co chcesz oddać:</h3>
                        {% for categories in form.categories %}
                            <div class="form-group form-group--checkbox">
                                <label for="category">
                                    <input
                                            type="checkbox"
                                            name="categories"
                                            value="{{ categories.pk }}"
                                            {% if categories.pk in form.categories.value %}checked{% endif %}
                                    />
                                    <span class="checkbox"></span>
                                    <span class="description">{{ categories }}</span>
                                </label>
                            </div>
                        {% endfor %}

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn next-step">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 2 -->
                    <div data-step="2" name="step_2" value="2">
                        <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                        <div class="form-group form-group--inline">
                            <label for="quantity">
                                Liczba 60l worków:
                                {{ form.quantity }}
                                <input type="number" id="id_quantity" name="quantity" step="1" min="1"/>
                            </label>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="button" class="btn next-step">Dalej</button>
                        </div>
                    </div>


                    <!-- STEP 3 -->
                    <div data-step="3" name="step_3" value="3">
                        <div class="form-group form-group--select">
                            <h2>Wybierz organizację, której chcesz pomóc:</h2>
                            <label for="institution">
                                <select name="institution" id="id_institution" required>
                                    {% for institution in form.fields.institution.queryset %}
                                        <option value="{{ institution.pk }}">{{ institution.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div id="institution-description"></div>
                        <script>
                            $(document).ready(function () {
                                $("#institution-select").on("change", function () {
                                    const selectedOption = $(this).find(":selected");
                                    const institutionId = selectedOption.val();
                                    $.ajax({
                                        url: '/get-institution-description/',
                                        type: 'GET',
                                        data: {'institution_id': institutionId},
                                        success: function (data) {
                                            $("#institution-description").text(data.description);
                                        },
                                        error: function (error) {
                                            console.log(error);
                                        }
                                    });
                                });
                            });

                        </script>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="button" class="btn next-step">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 4 -->
                    <div data-step="4" name="step_4" value="4">
                        <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru</h4>
                                <div class="form-group form-group--inline">
                                    <label for="address"> Ulica {{ form.address }} </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label for="city"> Miasto {{ form.city }} </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label for="zip_code">
                                        <label for="{{ form.zip_code.id_for_label }}">Kod pocztowy
                                            <input type="text" id="id_zip_code" maxlength="6"
                                                   pattern="[0-9]{2}-[0-9]{3}"
                                                    {% if form.zip_code.value %}
                                                   value="{{ form.zip_code.value }}" {% endif %}
                                                   oninput="if (this.value.length === 2 && this.value.slice(-1) !== '-') this.value += '-'">
                                            {% if form.zip_code.errors %}
                                                <div class="alert alert-danger">{{ form.zip_code.errors.as_text }}</div>
                                            {% endif %}
                                        </label>
                                    </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label for="phone_number"> Numer telefonu {{ form.phone_number }} </label>
                                </div>
                            </div>

                            <div class="form-section--column">
                                <h4>Termin odbioru</h4>
                                <div class="form-group form-group--inline">
                                    <label for="pick_up_date">{{ form.pick_up_date }} </label>
                                </div>
                                <div class="form-group form-group--inline">
                                    <label for="pick_up_time">
                                        <label for="{{ form.pick_up_time.id_for_label }}">
                                            <input type="text" placeholder="Godzina (HH:MM)" id="id_pick_up_time"
                                                   maxlength="5" pattern="[0-9]{4}"
                                                    {% if form.pick_up_time.value %}
                                                   value="{{ form.pick_up_time.value|date:'H:i' }}" {% endif %}
                                                   oninput="if (this.value.length === 2 && this.value.slice(-1) !== ':') this.value += ':'">
                                            {% if form.pick_up_time.errors %}
                                                <div class="alert alert-danger">{{ form.pick_up_time.errors.as_text }}</div>
                                            {% endif %}
                                        </label>
                                    </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label for="pick_up_comment">{{ form.pick_up_comment }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="button" class="btn next-step">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 5 -->
                    <div data-step="5" name="step" value="5">
                        <h3>Podsumowanie Twojej darowizny</h3>

                        <div class="summary">
                            <div class="form-section--column">
                                <h4>Oddajesz:</h4>
                                <ul>
                                    <li>
                                        <span class="icon icon-bag"></span>
                                        <span class="summary--text" id="quantity">
                                                <p>Kategoria: {{ donation.category.name }}</p>
                                            worków z {{ donation.quantity }}
                                        </span>
                                    </li>

                                    <li>
                                        <span class="icon icon-hand"></span>
                                        <span class="summary--text" id="institution"
                                        >Dla {{ donation.institution.name }} {{ donation.institution }}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-section form-section--columns">
                                <div class="form-section--column">
                                    <h4>Adres odbioru:</h4>
                                    <ul class="summary--address">
                                        <li id="address"></li>
                                        <li id="city"></li>
                                        <li id="zip_code"></li>
                                        <li id="phone_number"></li>
                                    </ul>
                                    <ul class="summary--address">
                                        <li>{{ donation.address }}</li>
                                        <li>{{ donation.city }}</li>
                                        <li>{{ donation.zip_code }}</li>
                                        <li>{{ donation.phone_number }}</li>
                                    </ul>
                                </div>

                                <div class="form-section--column">
                                    <h4>Termin odbioru:</h4>
                                    <ul class="summary--delivery">
                                        <li>{{ donation.pick_up_date }}</li>
                                        <li>{{ donation.pick_up_time }}</li>
                                        <li>{{ donation.pick_up_coment }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="submit" class="btn">Potwierdzam</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <script src="{% static 'js/jquery.js' %}"></script>
    {% else %}
        <meta http-equiv="refresh" content="0; {% url 'register' %}"/>
    {% endif %}
{% endblock %}
