{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% if user.is_authenticated %}
    {% else %}
        <section class="login-page">
            <h2>Załóż konto</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}"></label>
                    {{ form.first_name }}
                    {% for error in form.first_name.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}"></label>
                    {{ form.last_name }}
                    {% for error in form.last_name.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}"></label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}"></label>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}"></label>
                    {{ form.password2 }}
                    {% for error in form.password2.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group form-group--buttons">
                    <button class="btn" type="submit">Załóż konto</button>
                </div>
            </form>
        </section>
    {% endif %}
{% endblock %}
